.nav {
  background: #121212;
  color: #b089df;
  height: 10vh;
}

.container {
  background-color: #383838;
  width: 100vw;
  height: 90vh;
}

.sidenav-content {
  height: 90vh;
}

.button {
  background: #121212;
  color: #b089df;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  min-width: 150px;
  max-width: 10vh;
  justify-content: center;
}

.sidenav {
  background: #1e1e1e;
  padding: 20px;
}

.space {
  flex: 1 1 auto;
}

.img {
  max-height: 5vh;
  margin-left: 1vw;
}
.name {
  margin-left: 1vw;
}
