.card {
  font-size: 1.4em;
  font-weight: 500;
  background-color: #e6e1e1;
  margin: 25px;
  border-radius: 20px;
}

.button_create {
  border-radius: 10px;
  background-color: #06c17f;
  min-width: 100px;
  min-height: 50px;
  margin: 20px;
  max-width: 200px;
}
