.card {
  font-size: 1.4em;
  font-weight: 500;
  background-color: #e6e1e1;
  max-width: 1100px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button_create {
  border-radius: 10px;
  background-color: #06c17f;
  min-width: 100px;
  min-height: 30px;
  margin: 20px;
  max-width: 200px;
}

  .div_button_create{
    height: 80px;
    position: relative;
    text-align: right;
    max-height: 600px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

mat-card-title{
  text-align: center;
  font-weight: bold;
}
