<div class="button_container">
  <button mat-button class="back" title="Voltar" (click)="toUsers()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="container">
  <div class="name_and_wallet">
    <div class="title" title="Nome do usuário">{{ nameUser }}</div>
    <div class="wallet" title="Carteira">
      <mat-icon *ngIf="walletValue > 0" title="Saldo positivo" class="v-middle" style="color: #48d33f">
        account_balance_wallet</mat-icon>
      <mat-icon *ngIf="walletValue < 0" title="Saldo negativo" class="v-middle" style="color: #d33f3f">
        account_balance_wallet</mat-icon>
      <mat-icon *ngIf="walletValue == 0" class="v-middle" style="color: #ffffffb3">account_balance_wallet</mat-icon>
      {{ walletValue | currency: 'BRL' }}
    </div>
  </div>

  <!-- Filter -->
  <div class="div_filter">
    <mat-form-field class="filter">
      <mat-label class="title_filter">Pesquisar</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input class="input_filter" matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>

  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort multiTemplateDataRows>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell title="Nome da aplicação" *matCellDef="let app">{{ app.name }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Value -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell title="Valor da Aplicação" class="duration-cell" *matCellDef="let app">
        <ng-template [ngIf]="isValueCalculatorNg(app.typeAplication, app.value)">
          <mat-icon *ngIf="isValueP" title="Valor positivo" class="v-middle" style="color: #48d33f">add_circle_outline
          </mat-icon>
          <mat-icon *ngIf="isValueN" title="Valor negativo" class="v-middle" style="color: #d33f3f">
            remove_circle_outline
          </mat-icon>
          <mat-icon *ngIf="isValueE" title="Valor neutro" class="v-middle" style="color: #ffffffb3">border_clear
          </mat-icon>
        </ng-template>
        {{ app.value | currency: 'BRL' }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Options -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opções</th>
      <td mat-cell class="duration-cell" *matCellDef="let app">
        <button class="button_hover" mat-button title="Ver descrição" (click)="viewApp()"
          [class.expanded-row]="expandedApp === app" (click)="expandedApp = expandedApp === app ? null : app">
          <mat-icon id="viewApp">arrow_drop_down_circle</mat-icon>
        </button>
        <button class="button_hover" mat-button title="Editar aplicação" (click)="editApp(app.idApp)">
          <mat-icon id="editApp">build icon</mat-icon>
        </button>
        <button class="button_hover" mat-button title="Deletar aplicação" (click)="deleteApp(app.name, app.idApp)">
          <mat-icon id="deleteApp">delete forever icon</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div id="div_button_create">
          <button mat-button class="button_create" title="Criar uma nova aplicação" (click)="createApp()">Adicionar uma
            Aplicação
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Detalhes -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let app" [attr.colspan]="columnTable.length">
        <div class="detail" [@detailExpand]="app == expandedApp ? 'expanded' : 'collapsed'">
          <div class="description">
            {{app.descricao}}
          </div>
        </div>
      </td>
    </ng-container>

    <!-- TR da table -->
    <tr mat-header-row *matHeaderRowDef="columnTable; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnTable" [hidden]="loading" class="app-row"></tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    <tr mat-footer-row *matFooterRowDef="columnTable; sticky: true" [hidden]="loading"></tr>

    <!-- Filter -->
    <tr class="mat-row" *matNoDataRow [hidden]="loading">
      <td class="mat-cell" colspan="4">Nenhuma aplicação encontrada pela pesquisa</td>
    </tr>
  </table>

  <!-- Loading -->
  <div *ngIf="loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <!-- Se não tiver Aplicação -->
  <div class="notApp" *ngIf="!loading && page.totalElements === 0">
    <h1>
      <b>Nenhuma aplicação na carteira</b>
    </h1>
    <img class="notAppImg" src="../../../../assets/img/empty_wallet.png"
      alt="Imagem que mostra que não há nenhuma aplicação cadastrada">
  </div>

  <!-- Paginação -->
  <mat-paginator class="paginator" showFirstLastButtons [length]="page.totalElements" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selecione a pagina" (page)="pageEvent = $event; listApp(idUser)">
  </mat-paginator>
</div>
