.card {
  font-size: 1.4em;
  font-weight: 500;
  background-color: #e6e1e1;
  margin: 25px;
  border-radius: 20px;
  overflow: hidden !important;
}

.container {
  max-height: 600px;
  max-width: 1000px;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button_hover:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

button{
  transition: 0.5s;
}

table {
  width: 100%;
}

.button{
  margin-right: 10px;
}

.spinner{
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
}

.notApp{
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
}
