.container {
  max-height: 600px;
  max-width: 1000px;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

button{
  transition: 0.5s;
}


table {
  width: 100%;
  background-color: white;
}

.paginator{
  background-color: white;
}

.spinner{
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
}

.notRegister{
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
}
