<div class="container">
  <div class="title">
    <b> Usuários </b>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Id -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell title="Id do usuário" *matCellDef="let user">{{ user.idUser }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell title="Nome do usuário" *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- CPF -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
      <td mat-cell title="CPF do usuário" class="description-cell" *matCellDef="let user">
        {{ user.cpf | mask: '000.000.000-00' }}
      </td>
    </ng-container>

    <!-- Wallet Value -->
    <ng-container matColumnDef="walletValue" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Saldo </th>
      <td mat-cell title="Carteira do usuário" class="duration-cell" *matCellDef="let user">
        <ng-template [ngIf]="isValueCalculatorNg(user.walletValue)">
          <mat-icon *ngIf="isValueP" title="Valor positivo" class="v-middle" style="color: #48d33f">
            account_balance_wallet
          </mat-icon>
          <mat-icon *ngIf="isValueN" title="Valor negativo" class="v-middle" style="color: #d33f3f">account_balance_wallet
          </mat-icon>
          <mat-icon *ngIf="isValueE" class="v-middle" style="color: #ffffffb3">account_balance_wallet</mat-icon>
        </ng-template>
        {{ user.walletValue | currency: 'BRL' }}
      </td>
    </ng-container>

    <!-- Options -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opções </th>
      <td mat-cell class="duration-cell" *matCellDef="let user">
        <button mat-button title="Detalhes do usuário" (click)="viewUser(user.idUser)">
          <mat-icon id="viewUser">open_in_new</mat-icon>
        </button>
        <button mat-button title="Configurar usuário" (click)="editUser(user.idUser)">
          <mat-icon id="editUser">build icon</mat-icon>
        </button>
        <button mat-button title="Deletar usuário" (click)="deleteUser(user.idUser)">
          <mat-icon id="deleteUser">delete forever icon</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnTable"></tr>
    <tr mat-row *matRowDef="let row; columns: columnTable" [hidden]="loading"></tr>

  </table>
  <div *ngIf="loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
  <div class="notRegister" *ngIf="!loading && page.totalElements === 0">
    <h1>
      Nenhum usuário registrado
    </h1>
    <img src="" alt="">
  </div>
  <div id="div_button_create">
    <button title="Cria um novo usuário" mat-button class="button_create" (click)="newUser()">
      Inserir Novo Registro
    </button>
  </div>
  <mat-paginator class="paginator" showFirstLastButtons [length]="page.totalElements" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"
    aria-label="Usuários por página" (page)="pageEvent = $event; listUser()">
  </mat-paginator>
</div>
