.container {
  max-height: 600px;
  max-width: 1300px;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

button{
  transition: 0.5s;
}


table {
  width: 100%;
  background-color: #f1f1f1;
}

.paginator{
  background-color: #f1f1f1;
}

.spinner{
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
}

.notRegister{
  position: relative;
  margin-left: 45%;
  margin-top: 15%;
}

.div_button_create{
  height: 80px;
  position: relative;
  text-align: right;
  max-height: 600px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
