<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Nome</div>
      <div class="col col-2">CPF</div>
      <div class="col col-3">Saldo</div>
      <div class="col col-4">Opções</div>
    </li>
    <li class="table-row" *ngFor="let user of listUser$ | async">
      <div class="col col-1" data-label="Nome">{{ user.name }}</div>
      <div class="col col-2" data-label="CPF">{{ user.cpf }}</div>
      <div class="col col-3" data-label="Carteira">
        <mat-icon class="v-middle">local_atm</mat-icon>
        {{ user.walletValue | currency: 'BRL':true }}
      </div>
      <div class="col col-4" data-label="Opções">
        <button mat-raised-button class="button">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-raised-button class="button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button class="button">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
