<div class="container">
  <table mat-table class="mat-elevation-z8" [dataSource]="page.content">

    <!-- Name -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let user">{{ user.idUser }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- CPF -->
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell class="description-cell" *matCellDef="let user">
        {{ user.cpf | mask: '000.000.000-00' }}
      </td>
    </ng-container>

    <!-- Wallet Value -->
    <ng-container matColumnDef="walletValue">
      <th mat-header-cell *matHeaderCellDef>Saldo</th>
      <td mat-cell class="duration-cell" *matCellDef="let user">
        <ng-template [ngIf]="isValueCalculatorNg(user.walletValue)">
          <mat-icon *ngIf="isValueP" class="v-middle" style="color: green">local_atm</mat-icon>
          <mat-icon *ngIf="isValueN" class="v-middle" style="color: red">local_atm</mat-icon>
          <mat-icon *ngIf="isValueE" class="v-middle" style="color: black">local_atm</mat-icon>
        </ng-template>
        {{ user.walletValue | currency: 'BRL' }}
      </td>
    </ng-container>

    <!-- Options -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opções</th>
      <td mat-cellclass="duration-cell" *matCellDef="let user">
        <button mat-button (click)="viewUser(user.idUser)"><mat-icon>assessment icon</mat-icon></button>
        <button mat-button (click)="editUser(user.idUser)"><mat-icon>build icon</mat-icon></button>
        <button mat-button (click)="deleteUser(user.idUser)"><mat-icon>delete forever icon</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnTable"></tr>
    <tr mat-row *matRowDef="let row; columns: columnTable" [hidden]="loading"></tr>

  </table>
  <div *ngIf="loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
  <div *ngIf="!loading && page.totalElements === 0">
    Nenhum registro carregado
  </div>
  <mat-paginator
    class="paginator"
    [length]="page.totalElements"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Selecione a pagina"
    (page)="pageEvent = $event; listUser()">
  </mat-paginator>

</div>
