body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
  color: #e35e6b;
}

.v-middle {
  vertical-align: middle;
}

.purple-snackbar .mat-button-wrapper{
  color: #b089df;
}

.mat-select-value-text{
  color: white ;
}

.mat-select-arrow{
  color: white;
}

.mat-form-field-underline{
  background-color: #ffffff !important;
}
