/* Mudando o body de todos os componentes */
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Mudando o css do footer */
.red {
  color: #e35e6b;
}

/* Deixando os icones centralizados { Se usar o v-middle como classe }*/
.v-middle {
  vertical-align: middle;
}

/* Mudando o nome do icone que mostra o sidenav */
.purple-snackbar .mat-button-wrapper{
  color: #b089df;
}

/* Mudando para branco os valores dentro dos selects globais*/
.mat-select-value-text{
  color: white ;
}

.mat-select-arrow{
  color: white;
}

/* Mudando as cores dos forms globais */
.mat-form-field-ripple{
  background-color: white;
}

.mat-form-field-underline {
  background-color: #ffffff !important;;
}

::-webkit-scrollbar {
  /* width */
  width: 11px;
}

::-webkit-scrollbar-track {
  /* Track */
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #121212;
}

::-webkit-scrollbar-track-piece {
  /* not handle on */
  background: rgb(110, 110, 110);
}

